@import "~materialize-css/dist/css/materialize.min.css";

.collection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting {
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form {
  margin: 10px;
}